<?xml version="1.0" ?>
<!-- 
*****************************************************************************************
*
*        =============================================
*                  Cyborg ROS Task-2
*        =============================================
*
*****************************************************************************************
-->

<robot name="mini_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find mini_bot)/urdf/materials.xacro"/>

    <link name="footprint_link"/>

    <joint name="footprint_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <parent link="footprint_link"/>
        <child link="base_link"/>
    </joint>

    <!-- Base link -->
    <link name="base_link">

        <inertial>
            <origin xyz="0 0.0 0.28" rpy="0 0 0"/>
            <mass value="0.28"/>
            <inertia
                ixx="0.011666666666667"
                ixy="0"
                ixz="0"
                iyy="0.011666666666667"
                iyz="0"
                izz="0.011666666666667"/>
        </inertial>

        <collision name="collision">
            <origin xyz="0 0.0 0.28" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find mini_bot)/meshes/bot_1.dae"
                      scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0 0 0.28" rpy="0 0 0"/>
            <geometry>
                <mesh filename="file://$(find mini_bot)/meshes/bot_1.dae"
                      scale="0.01 0.01 0.01"/>
            </geometry>
        </visual>

    </link>

    <!-- Left wheel -->
    <link name="Left_wheel">

        <inertial>
            <origin xyz="0.0 -0.05 0.0" rpy="1.57 0 0"/>
            <mass value="0.060"/>
            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4"/>
        </inertial>

        <collision name="L_collision">
            <origin xyz="0.0 -0.05 0.0" rpy="1.57 0 0"/>
            <geometry>
                <sphere radius="0.14"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="file://$(find mini_bot)/meshes/wheel.stl"
                      scale="5 5 5"/>
            </geometry>

            <material name="red">
                <color rgba="1 0 0 1"/>
            </material>
        </visual>

    </link>

    <!-- Right wheel -->
    <link name="Right_wheel">

        <inertial>
            <origin xyz="0.0 -0.05 0.0" rpy="-1.57 0.0 0.0"/>
            <mass value="0.060"/>
            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4"/>
        </inertial>

        <collision name="R_collision">
            <origin xyz="0.0 -0.05 0.0" rpy="-1.57 0.0 0.0"/>
            <geometry>
                <sphere radius="0.14"/>
            </geometry>
        </collision>

        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0 0 0.0"/>
            <geometry>
                <mesh filename="file://$(find mini_bot)/meshes/wheel.stl"
                      scale="5 5 5"/>
            </geometry>

            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>

    </link>

        <!-- Rear wheel -->
    <link name="Rear_wheel">

        <inertial>
            <origin
                xyz="0.0 -0.05 0.0"
                rpy="3.14 0.0 0.0"/>
            <mass value="0.060"/>

            <inertia
                ixx="1.825e-4"
                ixy="0"
                ixz="0.00000000"
                iyy="1.825e-4"
                iyz="0"
                izz="1.825e-4"/>
        </inertial>

        <collision name="Rear_collision">
            <origin
                xyz="0.0 -0.05 0.0"
                rpy="1.57 0.0 0.0"/>

            <geometry>
                <sphere radius="0.14"/>
            </geometry>
        </collision>

        <visual>
            <origin
                xyz="0.0 0.0 0.0"
                rpy="0 0 0.0"/>

            <geometry>
                <mesh filename="file://$(find mini_bot)/meshes/wheel.stl"
                      scale="5 5 5"/>
            </geometry>

            <material name="green">
                <color rgba="0 1 0 1"/>
            </material>
        </visual>

    </link>

    <!-- Right wheel joint -->
    <joint name="Right_wheel_joint" type="continuous">
        <origin
            xyz="0.58 -0.36 0.18"
            rpy="0.0 0.0 -2.12"/>

        <parent link="base_link"/>
        <child link="Right_wheel"/>

        <axis xyz="0.0 1.0 0.0"/>

        <limit
            effort="5"
            velocity="5"/>
    </joint>

    <!-- Left wheel joint -->
    <joint name="Left_wheel_joint" type="continuous">

        <origin
            xyz="0.0 0.68 0.18"
            rpy="0 0 0"/>

        <parent link="base_link"/>
        <child link="Left_wheel"/>

        <axis xyz="0.0 1.0 0.0"/>

        <limit
            effort="5"
            velocity="5"/>
    </joint>

        <!-- Rear wheel joint -->
    <joint name="Rear_wheel_joint" type="continuous">

        <origin
            xyz="-0.58 -0.36 0.18"
            rpy="0 0 2.12"/>

        <parent link="base_link"/>
        <child link="Rear_wheel"/>

        <axis xyz="0.0 1.0 0.0"/>

        <limit
            effort="5"
            velocity="5"/>
    </joint>

    <gazebo reference="Left_wheel">
        <mu1>0.1</mu1>
        <mu2>0.01</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
    </gazebo>

    <gazebo reference="Right_wheel">
        <mu1>0.1</mu1>
        <mu2>0.01</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
    </gazebo>

    <gazebo reference="Rear_wheel">
        <mu1>0.1</mu1>
        <mu2>0.01</mu2>
        <slip1>1.0</slip1>
        <slip2>1.0</slip2>
    </gazebo>

    <ros2_control name="MiniBotSystem" type="system">

        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <joint name="Left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="Right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <joint name="Rear_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        </ros2_control>

        <gazebo>
            <plugin filename="libgz_ros2_control-system.so"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find mini_bot)/config/controllers.yaml</parameters>
            </plugin>
        </gazebo>



</robot>
